<section>
    <header class="card-action">
        <button class="fermer-modal" (click)='close()'><mat-icon>close</mat-icon></button>
    </header>

    <mat-dialog-content class="question">
        <h4 class="content-span full-width">{{ data.message }}</h4>
    </mat-dialog-content>

    <div class="mat-confirm-bouton">
        <button mat-button id="non" [mat-dialog-close]="false">Non</button>
        <button class="danger" mat-button id="oui" [mat-dialog-close]="true" >Oui</button>
    </div>
</section>
