
// marge du contenu

.main-content{
    margin: 1rem 0;
}

// reset des liens 

.page-accueil a{
    text-decoration: none;
}

// Styles des cartes d'actions dans l'accueil

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    border-radius: 5px;
    flex: 1;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    height: 250px;
}

.card h2{
    margin: 0;
    color: var(--couleur-primaire);
    font-family: 'Dancing Script', cursive;
    text-align: center;
    padding: 0.25rem;
    font-size: 2rem;
}

.card p{
    color: var(--couleur-gris-900);
    padding: 0.25rem 0.5rem;
    text-align: center;
}

// Styles des icones dans l'accueil


.background-icon{
    background-color: var(--couleur-secondaire);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    margin: 1rem 0;
    
}

mat-icon{
    width: 100%;
    height: 3.5rem;
    color: #fff;
}
