<section class="main-content page-accueil">

    <a (click)="formulaireChoix()" class="card">
        <h2>Ajouter une bouteille</h2>
        <div class="background-icon">
            <mat-icon svgIcon="catalogue"></mat-icon>
        </div>
        <p>Ajouter des bouteilles à vos cellier</p>
    </a>

    <a routerLink="celliers" class="card">
        <h2>Visitez vos celliers</h2>
        <div class="background-icon">
            <mat-icon svgIcon="cellier"></mat-icon>
        </div>
        <p>Gérer & personnaliser vos cellier </p>
    </a>
    
</section>
