
// styles des inputs

.mat-form-field {
    display: block;
}

.label-flex{
    display: flex;
}


// styles pour les boutons du modal de modification d"un cellier

.mat-dialog-actions {
    justify-content: center;
}

.mat-dialog-actions button[type=submit] {
    background-color: #4c1920;
    color: white;
}