<mat-toolbar class="menu-mobile-wrapper">
    <nav class="menu-mobile">

        <ng-container
            *ngIf="estAuthentifie(); then authentifie; else nonAuthentifie">
        </ng-container>

        <ng-template #authentifie>

            <a mat-button routerLink="/">
                <mat-icon>home</mat-icon>
            </a>
            <a class="none" mat-button routerLink="/ajout">
                <mat-icon>add_circle_outline</mat-icon>
            </a>
            <a mat-button routerLink="/bouteilles">
                <mat-icon svgIcon="catalogue"></mat-icon>
            </a>
            <a mat-button routerLink="/celliers">
                <mat-icon svgIcon="cellier"></mat-icon>
            </a>

            <a mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </a>
            <mat-menu #menu="matMenu">
                <a mat-menu-item routerLink="/profil">
                    <mat-icon>account_circle</mat-icon>
                    <span>Mon profil</span>
                </a>
                <a mat-menu-item routerLink="/listeAchats">
                    <mat-icon>post_add</mat-icon>
                    <span>Liste d'achat</span>
                </a>
                <a mat-menu-item (click)='deconnexion()'>
                    <mat-icon>logout</mat-icon>
                    <span>Se déconnecter</span>
                </a>
            </mat-menu>
            <!-- <a mat-button routerLink="/profil">
                <mat-icon>account_circle</mat-icon>
            </a> -->
            <!-- <a mat-button (click)='deconnexion()'>
                <mat-icon>logout</mat-icon>
            </a> -->

        </ng-template>

        <ng-template #nonAuthentifie>
            <a mat-button class="desactive">
                <mat-icon>home</mat-icon>
            </a>
            <a mat-button class="desactive">
                <mat-icon svgIcon="catalogue"></mat-icon>
            </a>
            <a mat-button class="desactive">
                <mat-icon svgIcon="cellier"></mat-icon>
            </a>
            <a mat-button routerLink='/connection'>
                <mat-icon alt="connexion">login</mat-icon>
            </a>
        </ng-template>
    </nav>
</mat-toolbar>
