<div class="main-content">
    <div class="content-header">
        <h2 class="titre">Ma liste d'achat</h2>
    </div>

 <mat-selection-list #listeBouteilles (selectionChange)='bouteilleSelected(listeBouteilles.selectedOptions.selected)'>
    <mat-list-option *ngFor='let bouteille of listeAchat' [value]="bouteille">
      {{bouteille.nom}}
    </mat-list-option>
  </mat-selection-list>

  <p class="note">
      Bouteilles sélectionnées : {{listeBouteilles.selectedOptions.selected.length}}
  </p>

</div>
