// styles du titre

.titre {
    display: flex;
    justify-content: center;
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    margin: 20px 0;
    color: var(--couleur-primaire);
}

// styles de la liste l'orsque qu'elle contient des bouteilles

.mat-select-list {
    padding: 0 10px;
}

.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
    height: auto;
    margin: 8px -10px;
}

.mat-list-option {
    margin-top: 1rem;
}

img {
    width: 60px;
    margin-right: .75rem;
}

.itemNom {
    font-size: 16px;
}


// styles de la liste l'orsque qu'elle est vide 

.listeVide {
    text-align: center;
}

.listeVide h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    margin: 15px 0;
}



