.content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.resultat {
    padding-bottom: 10px;
}

.resultat-vin {
    display: flex;
    gap: var(--espacement);
    min-height: 50px;
    padding: 10px 10px;
    text-decoration: none;
    color: var(--couleur-gris-900)
}

.liste-de-bouteilles article {
    border-top: 1px solid #e9e8e5;
}

/* Retirer la bordure du haut pour le premier élément */
.liste-de-bouteilles article:first-of-type {
    border-top: 0;
}

img {
    object-fit: contain;
    display: block;

    align-self: center;

    width: 70px;
}

.vin-data-droit {
    font-size: 12px;
}

.target-link {
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    color: #000;
}

.bouteille-infos small {
    display: block;
}

.subtexte {
    display: block;
    font-weight: 500;
    font-size: 14px;
}

.bouteille-infos {
    clear: both;
}

.ajouterListe {
    display: flex;
    justify-content: flex-end;
    margin-top: -40px;

}

.ajouterListe>* {
    color: var(--couleur-secondaire);
    text-decoration: underline;
}

.ajouterListe button {
    font-size: 14px;
}

.ajouterListe .mat-icon {
    font-size: 18px;
}
