<mat-drawer-container class="main-content">

    <mat-drawer class="drawer-default" #sidenav>
        <div class="drawer-content barre-filtres">
            <div>
                <button class="fermer-modal" (click)='sidenav.toggle()'>
                    <mat-icon>close</mat-icon>
                </button>
            </div>

            <details>
                <summary>Catégories</summary>
                <fieldset [formGroup]="filtres">
                    <ng-container formArrayName="categories">
                        <mat-checkbox class="checkbox-pleine-largeur" [formControlName]="i" labelPosition="before"
                            (change)="initierRechercheFiltree()"
                            *ngFor="let categorie of listeCategoriesEnFormArray.controls; let i = index">
                            {{ categories[i].nom }}
                        </mat-checkbox>

                    </ng-container>
                </fieldset>
            </details>

            <details>
                <summary>Pays</summary>
                <fieldset [formGroup]="filtres">
                    <mat-form-field appearance="fill" class="input-case">
                        <mat-select id="paysId" formControlName="paysId" (selectionChange)="initierRechercheFiltree()">
                            <mat-option value="" selected aria-selected>Tous les pays</mat-option>
                            <mat-option *ngFor="let pays of pays" [value]="pays.id">
                                {{ pays.nom }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </fieldset>
            </details>

            <details>
                <summary>Prix</summary>
                <fieldset [formGroup]="filtres">
                    <mat-form-field appearance="fill" class="input-case">
                        <mat-label for="prixMin">Minimum</mat-label>
                        <input placeholder="1,00" matInput id="prixMin" formControlName="prixMin" (keyup)="initierRechercheFiltree($event)" pattern="^[\d\.,]*$">
                        <mat-error *ngIf="filtrePrixMin?.touched && filtrePrixMin?.invalid">
                            <div *ngIf="filtrePrixMin?.errors?.pattern">Veuillez entrer un montant valide</div>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="input-case">
                        <mat-label for="prixMax">Maximum</mat-label>
                        <input placeholder="1,00" matInput id="prixMax" formControlName="prixMax" (keyup)="initierRechercheFiltree($event)" pattern="^[\d\.,]*$">
                    </mat-form-field>
                </fieldset>
            </details>

            <!-- <details>
                <summary>Format</summary>
                <fieldset [formGroup]="filtres">
                    <mat-form-field appearance="fill" class="input-case">
                        <mat-select id="format" formControlName="format" (selectionChange)="initierRechercheFiltree()">
                            <mat-option value="" selected aria-selected>Tous les formats</mat-option>
                            <mat-option *ngFor="let pays of pays" [value]="pays.id">
                                {{ pays.nom }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </fieldset>
            </details> -->
        </div>
    </mat-drawer>

    <mat-drawer-content class="content">
        <header class="content-header">
            <h2 class="titre">Catalogue de bouteilles</h2>

            <div class="filtrer">
                <button class="bouton-fab" mat-button (click)="sidenav.toggle()">
                    <mat-icon>filter_alt</mat-icon>
                    Filtres
                </button>

                <mat-form-field class="recherche">
                    <mat-label>
                        <mat-icon>search</mat-icon>Trouvez une bouteille
                    </mat-label>
                    <ng-container [formGroup]="filtres">
                        <input matInput (keyup)="initierRechercheFiltree()" formControlName="texteRecherche">
                    </ng-container>
                </mat-form-field>
            </div>
        </header>

        <div class="liste-de-bouteilles">
            <article *ngFor="let uneBouteille of bouteille" class="resultat">
                <a class="resultat-vin" routerLink="/ficheBouteille/{{uneBouteille.id}}">
                    <!-- <img src="{{uneBouteille.url_image}}" alt="une bouteille"> -->
                    <div *ngIf="uneBouteille.url_image; then image else imageDefault"></div>
                        <ng-template #image>
                            <img src="{{uneBouteille.url_image}}" alt="Bouteille du vin" />
                        </ng-template>
                        <ng-template #imageDefault>
                            <img src="https://www.saq.com/media/wysiwyg/placeholder/category/06.png" alt="Bouteille du vin" />
                        </ng-template>

                    <div class="bouteille-infos flow-content">
                        <h3>
                            <a class="inline-link"
                                routerLink="/ficheBouteille/{{uneBouteille.id}}">{{uneBouteille.nom}}</a>
                        </h3>

                        <div class="flow-content-centi">
                            <span class="subtexte">{{uneBouteille.categorie}}</span>
                            <span class="subtexte">{{uneBouteille.pays}}</span>
                            <small>{{uneBouteille.format}}</small>
                        </div>
                    </div>
                </a>
                <div class="ajouterListe">
                    <button mat-button (click)="ajouterListeAchats(uneBouteille.id)">
                        <mat-icon>post_add</mat-icon>
                        liste d'achat
                    </button>
                </div>
                <div>
                    <div class="subtexte"></div>
                </div>
            </article>

            <div class="action-ajouter">
                <a class="bouton-fab" mat-raised-button routerLink='/bouteilles-personnalise/ajout'>+ Ajouter une
                    bouteille personnalisée</a>
            </div>

        </div>
    </mat-drawer-content>
</mat-drawer-container>
