
<div class="main-content">
    <h2 class="titre">Catalogue de bouteilles</h2>
    <!-- Filtre -->
    <mat-form-field class="recherche">
        <mat-label><mat-icon>search</mat-icon>Trouvez une bouteille</mat-label>
        <input matInput (keyup)="recherche($event)" [formControl]="texteRecherche">
    </mat-form-field>
    <div class="liste-de-bouteilles">
        <article  *ngFor="let uneBouteille of bouteille" class="resultat" routerLink="/ficheBouteille/{{uneBouteille.id}}">
            <div class="resultat-vin">
                <img src="{{uneBouteille.url_image}}" alt="une bouteille">
                <div class="bouteille-infos flow-content">
                    <a class="target-link" routerLink="/ficheBouteille/{{uneBouteille.id}}" >{{uneBouteille.nom}}</a>
                    <div class="flow-content-centi">
                        <span class="subtexte">{{uneBouteille.categorie}}</span>
                        <span class="subtexte">{{uneBouteille.pays}}</span>
                        <small>{{uneBouteille.format}}</small>
                    </div>
                </div>
            </div>
            <div>
                <div class="subtexte"></div>
            </div>
        </article>
    </div>
</div>
