fieldset {
    appearance: none;
    border: none;

    display: flex;
    flex-direction: column;
}

mat-checkbox {
    border-block-end: 1px solid var(--voile-noir-100);
}

mat-checkbox:last-of-type {
    border-block-end: none;
}

.content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.resultat {
    padding-bottom: 10px;
}

.resultat-vin {
    display: flex;
    gap: var(--espacement);
    min-height: 50px;
    padding: 10px 10px;
    text-decoration: none;
    color: var(--couleur-gris-900)
}

.filtrer {
    display: flex;
    align-items: center;
    gap: var(--espacement)
}

.filtrer .recherche {
    flex-basis: 60%;
    flex-grow: 1;
}

.liste-de-bouteilles article {
    border-top: 1px solid #e9e8e5;
}

/* Retirer la bordure du haut pour le premier élément */
.liste-de-bouteilles article:first-of-type {
    border-top: 0;
}

.titre {
    display: flex;
    justify-content: center;
    font-family: "Dancing Script", cursive;
    font-size: 1.75rem;
    margin: 20px 0;
    color: #4c1920;
}

img {
    object-fit: contain;
    display: block;

    align-self: flex-start;

    width: 70px;
}

.mat-drawer {
    width: 75%;
    padding: var(--espacement);
}

.vin-data-droit {
    font-size: 12px;
}

.target-link {
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    color: #000;
}

.bouteille-infos small {
    display: block;
}

.subtexte {
    display: block;
    font-weight: 500;
    font-size: 14px;
}

.bouteille-infos {
    clear: both;
}

.ajouterListe {
    display: flex;
    justify-content: flex-end;
    margin-top: -40px;

}

.ajouterListe>* {
    color: var(--couleur-secondaire);
    text-decoration: underline;
}

.ajouterListe button {
    font-size: 14px;
}

.ajouterListe .mat-icon {
    font-size: 18px;
}
