// styles des input
.mat-form-field {
    display: block;
}

.mat-form-field-underline{
    display: none;
}

// styles pour le boutons de retour

.retour{
    display: flex;
    align-items: center;
}

.card-action{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
 }

// styles des boutons du formulaire d'ajout d'une bouteille personnalisée

.mat-dialog-actions {
    display: flex;
    justify-content: center;
}

.mat-dialog-actions button[type=submit] {
    background-color: #4c1920;
    color: white;

}
