.mat-form-field {
    display: block;
    font-size: 0.815rem;
}

.card-header{
    display: block;
}


.mat-form-field-underline{
    display: none;
}


.retour{
    display: flex;
    align-items: center;
}

.card-action{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
 }

.mat-dialog-actions {
    display: flex;
    justify-content: center;
}

.mat-dialog-actions button[type=submit] {
    background-color: #4c1920;
    color: white;

}


/*.mat-toolbar-single-row {
    height: auto;
    background: transparent;
}

.mat-toolbar-single-row button {
    width: 200px;
}

#uploadFile {
    top: 0px;
    left: 0px;
    width: 100%;    
    z-index: 9;
    opacity: 0;
    height: 100%;
    cursor: pointer;
    position: absolute;
} */