<div class="main-content">

    <header class="card-action">
        <a class="retour" (click)='back()'><mat-icon>arrow_back</mat-icon>Retour</a>
    </header>

    <div *ngIf="bouteille" class="content-bouteille">
        <mat-card class="example-card">
            <div *ngIf="bouteille.url_image; then image else imageDefault"></div>
            <ng-template #image>
                <img mat-card-image src="{{bouteille.url_image}}" alt="Bouteille du vin" />
            </ng-template>
            <ng-template #imageDefault>
                <img mat-card-image  src="https://www.saq.com/media/wysiwyg/placeholder/category/06.png" alt="Bouteille du vin" />
            </ng-template>

            <!-- <img mat-card-image src="{{bouteille.url_image}}" appImgFallback alt="Bouteille du vin" /> -->

            <mat-card-header class="card-header">
                <h2>{{bouteille.nom}}</h2>
                <mat-card-subtitle></mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="card-content flow-content">

                <dl>
                    <div *ngIf="bouteille.prix">
                        <dt><strong>Prix</strong></dt>
                        <dd>{{bouteille.prix | currency : "CAD" : "$" : "1.2" : "fr-CA"}}</dd>
                    </div>

                    <div *ngIf="bouteille.format">
                        <dt><strong>Format</strong></dt>
                        <dd>{{bouteille.format}}</dd>
                    </div>

                    <div *ngIf="bouteille.categorie">
                        <dt><strong>Catégorie</strong></dt>
                        <dd>{{bouteille.categorie }}</dd>
                    </div>

                    <div *ngIf="bouteille.pays">
                        <dt><strong>Origine</strong></dt>
                        <dd>{{bouteille.pays }}</dd>
                    </div>
                </dl>

                <div class="card-link">
                    <div>
                        <mat-icon>local_grocery_store</mat-icon><a class="inline-link" href="{{bouteille.url_achat}}">Acheter à la SAQ</a>
                    </div>
                </div>

                <mat-card-actions>
                    <button class="bouton-fab" mat-raised-button (click)="formulaireAjout(bouteille)">+ Ajouter cette bouteille à mon cellier</button>
                </mat-card-actions>
                
            </mat-card-content>
        </mat-card>
    </div>
</div>
