.main-content {
    padding-block-end: 0;
}

.content-bouteille {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}


.card-header {
    display: block;
}

// Styles pour le boutons de retour 

.card-action {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.retour {
    display: flex;
    align-items: center;
}

// styles pour les liens dans la fiche bouteille 

.card-link div {
    display: flex;
    margin-top: 1rem;
}

.card-link {
    border-top: 0.0625rem solid #e0e0e0;
}

.card-link a {
    display: block;
    margin-left: 10px;
    padding-top: 5px;
}

.card-link a:hover {
    text-decoration: underline;
}


// styles pour l'image de la fiche 

.mat-card-image {
    width: 40vw;
    display: block;
    margin: 0 auto;
    padding: 1rem 0;
}

.mat-card-image:first-child {
    margin-top: 0;
}

// styles pour les éléments de la description

dl div {
    margin-bottom: 1rem;
}

dl {
    font-weight: 500;
}

dd {
    margin: 0;
    margin-top: 0.5rem;
}

// styles pour le bouton d'ajout a un cellier

mat-card-actions {
    display: flex;
    justify-content: center;
}
