
.mat-form-field {
    display: block;
}

// styles des boutons du modal d'ajout de cellier

.mat-dialog-actions {
    justify-content: center;
}

.mat-dialog-actions button[type=submit] {
    background-color: #4c1920;
    color: white;
}
