<section>
    <header class="card-action">
        <button class="fermer-modal" (click)='close()'><mat-icon>close</mat-icon></button>
    </header>

    <mat-dialog-content>
        <h4>Voulez vous ajouter cette bouteille à un cellier ?</h4>
        <p>{{data.nom}}</p>
    </mat-dialog-content>

    <div class="mat-confirm-bouton">
        <button mat-button class="stroked-button" (click)="supprimerDeLaListe(data.id)">Non</button>
        <button  mat-button (click)="ajouterCellier(data.bouteilles_id, data.id)">Oui</button>
    </div>
</section>
