
// styles général du formulaire de connéction

.formulaire {
    display: flex;
    flex-direction: column;
    color: black;
    align-items: center;
}

// styles du titre

.formulaire h2{
    font-size: 3rem;
    font-family: 'Dancing Script', cursive;
    color: #4c1920;
    margin: 2rem 0;
}

// styles pour les inputs et leur label

.input-case {
    display: flex;
    align-items: center;
    margin: 1rem 0.875rem;
}

.mat-form-field{
    width: 100%;
}

label {
    display: inline-block;
    padding-top: 1rem;
    margin: 0.5rem 0;
    font-size: 14px;
    font-weight: 500;
}

// styles pour le bouton de connection

.formulaire button {
    border: none;
    color: var(--couleur-gris-200);
    font-weight: bold;
    background-color: #4c1920;
    width: 10rem;
    display: block;
    padding: 0.875rem 1rem;
    margin: 2rem 0;
    border-radius: 1.5rem;
    cursor: pointer;
}
