.content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.content a {
    text-decoration: none;
    color: black;
}

.titre {
    display: flex;
    justify-content: center;
    font-family: 'Dancing Script', cursive;
    font-size: 2.3rem;
    margin: 20px 0;
    color: #4c1920;

}

.resultat{
    padding-bottom: 10px;
    cursor: pointer;
}

.resultat-cellier {
    clear: both;
    min-height: 45px;
    margin: 0 -10px;
    padding: 10px 10px;
    border-top: 1px solid #e9e8e5;
}

.content-header{
    display: flex;
    justify-content: space-around;
}
.content-header button{
    background-color: #4c1920;
    color: #fff;
}
.content a {
    text-decoration: none;
    color: #000;
}

.nom-cellier{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nom-cellier h3{
    text-transform: capitalize;
    font-size: 1.2rem;
    color: var(--couleur-primaire);
    margin: 0 0 1rem 0;

}

.nom-cellier .mat-icon{
    font-size: 1.2rem; 
}

.nom-cellier .mat-icon:hover{
    cursor: pointer;
}

.mat-button{
    min-width: 40px;
}

.nom-cellier .button-edit{
    padding: 0px;
    margin: 0;
    margin-left: 10px;
    width: 30px;
    height: 30px;
    background-color: var(--couleur-primaire);
    color: #fff;
    
}

.nom-cellier .button-delete{
    padding: 0px;
    margin: 0;
    margin-left: 10px;
    width: 30px;
    height: 30px;
    background-color: #8a1a25;
    color: #fff;
}

.action-cellier{
    display: flex;
}

.mat-expansion-panel-header{
    padding: 0;
}


dt, dd {
    display: inline-block;
}

 dl div {
    margin: 0 0 1rem 0;
}

dd{
    margin: 0;
}

