<div class="content">
    <div class="content-header">
        <h2 class="titre">Mes Celliers</h2>
        <p class="bouton-filtre"><button mat-button (click)="formulaireAjout(listeCelliers)"><mat-icon>add</mat-icon></button></p>
    </div>
    <div *ngFor="let cellier of listeCelliers" class="resultat-cellier">
        <div class="nom-cellier">
            <a routerLink="/celliers/{{cellier.id}}" [state]="cellier">
                <h3>{{ cellier.nom }}</h3>
            </a>
            <div class="action-cellier">
                <button class="button-edit" mat-button (click)="formulaireModification(cellier)"><mat-icon>edit</mat-icon></button>
                <button class="button-delete" mat-button (click)="supprimerCellier(cellier.id)"><mat-icon>delete</mat-icon></button>
            </div>
        </div>

        
        <p style="margin: 0;">{{cellier.description}}</p>

        <dl>
            <div *ngIf='cellier.total_bouteilles_vin_blanc'>
                <dt><strong>Vin blanc : </strong></dt>
                <dd>&nbsp;{{cellier.total_bouteilles_vin_blanc}} bouteilles</dd>
            </div>
            <div *ngIf='cellier.total_bouteilles_vin_rouge'>
                <dt><strong>Vin rouge : </strong></dt>
                <dd>&nbsp;{{cellier.total_bouteilles_vin_rouge}} bouteilles</dd>
            </div>
        </dl>

    </div>
</div>
