.content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.content a {
    text-decoration: none;
    color: black;
}

.titre {
    display: flex;
    justify-content: center;
    font-family: "Dancing Script", cursive;
    font-size: 2rem;
    margin: 20px 0;
    color: #4c1920;
}

.resultat {
    padding-bottom: 10px;
    cursor: pointer;
}

.resultat-cellier {
    clear: both;
    min-height: 45px;
    margin: 0 -10px;
    padding: 10px 10px;
    border-top: 1px solid #e9e8e5;
}

.content-header {
    display: flex;
    justify-content: space-around;
}

.content-header button {
    background-color: var(--couleur-primaire);
    color: var(--couleur-gris-200);
}
.content a {
    text-decoration: none;
    color: #000;
}

.nom-cellier {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.nom-cellier h3 {
    margin-bottom: .5rem;
    text-transform: capitalize;
    font-size: 1.5em;
    color: var(--couleur-primaire);
}

.nom-cellier .mat-icon:hover {
    cursor: pointer;
}

.mat-button {
    min-width: 40px;
}

.action-cellier {
    display: flex;
    gap: var(--espacement-petit);
}

.action-cellier button {
    background-color: var(--couleur-primaire);
    color: var(--couleur-gris-200);
}

.nom-cellier .button-delete {
    background-color: #8a1a25;
}

.mat-expansion-panel-header {
    padding: 0;
}

dt,
dd {
    display: inline-block;
}

dl div {
    margin: 0 0 1rem 0;
}

dd {
    margin: 0;
}

// styles de la liste l'orsque qu'elle est vide 

.listeVide {
    text-align: center;
}

.listeVide h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    margin: 15px 0;
}

