// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "~@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$lightGrey: #fafafa;
$darkGrey: #2a2a2a;

$secondary: (
    50 : #e3eae9,
    100 : #bac9c7,
    200 : #8ca6a2,
    300 : #5d827c,
    400 : #3b6760,
    500 : #184c44,
    600 : #15453e,
    700 : #113c35,
    800 : #0e332d,
    900 : #08241f,
    A100 : #61ffdf,
    A200 : #2effd5,
    A400 : #00fac8,
    A700 : #00e0b4,
    contrast: (
        50 : $darkGrey,
        100 : $darkGrey,
        200 : $darkGrey,
        300 : $lightGrey,
        400 : $lightGrey,
        500 : $lightGrey,
        600 : $lightGrey,
        700 : $lightGrey,
        800 : $lightGrey,
        900 : $lightGrey,
        A100 : $darkGrey,
        A200 : $darkGrey,
        A400 : $darkGrey,
        A700 : $darkGrey,
    )
);

$angular-primary: mat.define-palette(mat.$indigo-palette);
$angular-accent: mat.define-palette($secondary, 500, 200, 800);

// The warn palette is optional (defaults to red).
$angular-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$angular-theme: mat.define-light-theme(
    (
        color: (
            primary: $angular-primary,
            accent: $angular-accent,
            warn: $angular-warn,
        ),
    )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($angular-theme);

/* You can add global styles to this file, and also import other style files */

/* Générale */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
    --couleur-primaire: #4c1920;
    --couleur-primaire-800: #29060a;
    --couleur-secondaire: #184c44;
    --couleur-logo: #96694f;
    --couleur-gris-200: #{$lightGrey};
    --couleur-gris-900: #{$darkGrey};

    --texte-pale: var(--couleur-gris-200);
    --texte-fonce: var(var(--couleur-gris-900));

    --elevation-3: #ffffffaa;
    --voile-noir-100: #00000020;

    --espacement: 1rem;
    --espacement-petit: calc(var(--espacement) * 0.5);
    --espacement-mini: calc(var(--espacement) * 0.25);
    --headerHauteur: 60px;
    --footerHauteur: 60px;
}

* {
    box-sizing: border-box;
}

body {
    color: var(--couleur-gris-900);
    background-color: var(--couleur-gris-200);
}

main {
    position: absolute;
    left: 0;
    top: var(--headerHauteur);
    bottom: var(--footerHauteur);

    width: 100%;

    overflow-y: scroll;
}

h1, h2, h3 {
    color: var(--couleur-primaire);
}

/* Retirer les marges du haut des en-têtes */
h3 {
    margin-block-start: 0;
}

main .main-content {
    padding-block-end: var(--footerHauteur);
    padding-inline: 1rem;

}

.mat-drawer-container {
    min-height: 100%;
}

.mat-drawer-container .mat-drawer-content {
    overflow: unset;
}

.mat-drawer {
    max-height: 75vh;
    overflow-y: scroll;

    bottom: unset !important;
    left: 0 !important;
}

mat-drawer.drawer-default {
    background-color: var(--couleur-gris-200);
}

.mat-sidenav {
    padding: var(--espacement);
}

/* Rythme vertical */
.flow-content > * + * {
    margin-block-start: var(--espacement);
}

.flow-content-centi > * + * {
    margin-block-start: var(--espacement-petit);
}

a.inline-link {
    text-underline-offset: 4px;
    color: var(--couleur-primaire);

    transition-property: color;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.inline-link:active {
    color: var(--couleur-secondaire);
}

/* champs obligatoires */

.required::after {
    content: "\00a0*";
    color: var(--couleur-primaire);
}

/* Correction sur les mat-button */
.mat-mini-fab:not([class*="mat-elevation-z"]) {
    box-shadow: none;
}

/* Correction sur les mat-form */

.mat-form-field-wrapper {
    padding-bottom: 1rem;
}

.mat-form-field-underline {
    width: 0;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: transparent;
}

/* Css pour les notifications (snackBar) */
[class*="notif"] {
    margin-bottom: calc(var(--headerHauteur) + 10px) !important;
    margin-block-end: var(--headerHauteur);
    .mat-simple-snackbar-action {
        color: #e99d71;
    }
}

.notif-danger {
    color: #8a1a25;
    background-color: #f1d1d1;
    border-color: #e6c3c5;
    .mat-simple-snackbar-action {
        color: #8a1a25;
    }
}

.notif-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    .mat-simple-snackbar-action {
        color: #155724;
    }
}

/* correction du stroke pour l'icone du catalogue */

.mat-icon[svgIcon="catalogue"] {
    stroke-width: 0.1;
}

/* Taille de tous les modals */
mat-dialog-container.mat-dialog-container {
    width: 80vw;
    max-height: 80vh;
}

.modal-base .mat-dialog-actions {
    margin-bottom: 0;
}

/* Agrandir la surface de hit des boutons de modals */
.mat-dialog-actions button {
   padding-block: var(--espacement-petit);
}

/* Aligner la loupe dans les champs de recherche */
mat-label {
    display: flex;
    align-items: center;
}

/* Permettre à tous les champs de recherche textuelle de prendre tout l'espace horizontal */
.recherche {
    width: 100%;
}

/* Indice visuel pour les éléments interactifs */
.retour,
.fermer-modal,
summary {
    cursor: pointer;
}

/* Changer la couleur du outline pour les boutons en focus */
button:focus-visible {
    outline-color: var(--couleur-secondaire);
    outline-style: double;
}

/* Déstyliser les boutons pour les rendre à plat */
.fermer-modal {
    padding: 0;
    border: none;
    background-color: transparent;
}

/* Boutons d'ajout de bas de page */
.action-ajouter {
    position: fixed;
    bottom: calc(var(--footerHauteur) + 20px);
    left: 0;
    display: flex;
    justify-content: center;

    width: 100%;
}

.bouton-fab {
    display: block;
    padding: var(--espacement-mini) var(--espacement);

    color: var(--texte-pale);
    background-color: var(--couleur-secondaire);
}

/* En-tête et footer */
.mat-toolbar {
    background-color: var(--couleur-primaire);
}

.mat-card {
    background-color: var(--elevation-3);
}

.mat-mini-fab.mat-accent {
    background-color: var(--couleur-secondaire);
}

.mat-pseudo-checkbox-checked.mat-pseudo-checkbox-checked {
    background: var(--couleur-secondaire);
}


/* Checkboxes pleine largeur */
/* Aligner les boites à cocher à droite */
.checkbox-pleine-largeur .mat-checkbox-layout {
    display: flex;
}

.checkbox-pleine-largeur .mat-checkbox-layout .mat-checkbox-inner-container {
    margin-right: 0;
    margin-left: auto;
}

.mat-drawer .mat-drawer-inner-container {
    overflow: initial;
}

.barre-filtres details {
    padding-block: var(--espacement);
}

/* Transformer et déplacer l'icône des summary */
summary {
    display: flex;
    justify-content: space-between;

    padding-block: var(--espacement-petit);

    list-style-type: none;
}

summary::after {
    content: "+";

    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
}

details[open] > summary::after {
    transform: rotate(405deg);
}

.barre-filtres > details + details {
    border-block-start: 1px solid var(--voile-noir-100);
}

.barre-filtres > details:first-of-type {
    border-block-start: none;
}
.mat-list-base .mat-list-item .mat-list-text, .mat-list-base .mat-list-option .mat-list-text {
    min-height: 110px;
    justify-content: center;
}

.mat-menu-item .mat-icon-no-color {
    color: var(--couleur-gris-900);
}
