main[_ngcontent-vfb-c129] {
    padding: 0;
}

.content{
    overflow: hidden;
    padding-bottom: 3.75rem;
}

.content-header{
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}

.content-header .titre-container{
    margin: 0 auto;
}

.content .titre, .content h2{
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    margin: 15px 0;
    color: #4c1920;
}

.content button, .content .bouton-ajout{
    background-color: #4c1920;
    color: #fff;
    min-width: 50px;
    padding: 0;
}


/* css pour le side-nav */

.example-container {
    position: absolute;
    top: var(--headerHauteur);
    bottom: var(--footerHauteur);
    left: 0;
    right: 0;
}

.sidenav-content {
    text-align: center;
    padding: 10px;
}

.mat-drawer{
    width: 75%;
    overflow: scroll;
}

.mat-form-field{
    width: 100%;
    padding: 0 1rem;
}


.ajouter-bouteille{
    text-align: center;
}

.none{
    display: none;
}


.action-button{
    display: flex;
}

.action-button p{
    margin-left: 5px;
    margin-right: 5px;
}