main[_ngcontent-vfb-c129] {
    padding: 0;
}


// Style pour rendre invisible un element
.none{
    display: none;
}

.liste-de-bouteilles > * + * {
    border-block-start: solid 1px var(--voile-noir-100);
}

.content{
    padding-block-end: 4rem;
    overflow: hidden;
}

.content-header{
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}

.content-header .titre-container{
    margin: 0 auto;
}

.content .titre, .content h2{
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    margin: 15px 0;
    color: #4c1920;
}

.content button, .content .bouton-ajout{
    background-color: #4c1920;
    color: #fff;
    min-width: 50px;
    padding: 0;
}


/* css pour le side-nav */
.sidenav-content {
    text-align: center;
    padding: 10px;
}

.mat-drawer{
    width: 75%;
    overflow: scroll;
    height: 100%;
}

.mat-sidenav-container {
    min-height: 100%;
}

.ajouter-bouteille{
    text-align: center;
}


.action-button{
    display: flex;
}

.action-button p{
    margin-left: 5px;
    margin-right: 5px;
}
