main[_ngcontent-vfb-c129] {
    padding: 0;
}


// Style pour rendre invisible un element
.none{
    display: none;
}

.liste-de-bouteilles > * + * {
    border-block-start: solid 1px var(--voile-noir-100);
}

.content{
    padding-block-end: 4rem;
    overflow: hidden;
}

.content-header .titre-container{
    margin: 0 auto;
}

.mat-drawer{
    width: 75%;
    overflow: scroll;
    height: 100%;
}

.ajouter-bouteille{
    text-align: center;
}


.action-button{
    display: flex;
}

.action-button p{
    margin-left: 5px;
    margin-right: 5px;
}
